#viewPostLeftColumn {
    float: left;
    padding: 5px;
    width: 120%;
    border: 1px solid gray;
	background-color: #18188D;
	font-size: 70%;
	font-weight: bold;
}

#viewPostLeftColumn.admin {
    background-color: #8D1818;
}

#viewPostLeftColumn.verified {
    background-color: #10105E;
}

#viewPostRightColumn {
    float: right;
    padding: 5px;
	width: 92%;
    border: 1px solid gray;
	background-color: #18188D;
	font-size: 70%;
}

#viewPostRightColumn.admin {
    background-color: #8D1818;
}

#viewPostRightColumn.verified {
    background-color: #10105E;
}

#viewPostFooter {
	text-align: right;
	clear: both;
	color: #B9B9B9;
}